<!doctype html>
<html ng-app="todoApp">
<head>
    <script src="../static/js/vendor/angular.min.js" type="text/javascript"></script>
    <script src="../static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="../static/js/vendor/bootstrap.js"></script>
    <script src="../static/js/vendor/ripples.min.js"></script>
    <script src="../static/js/vendor/material.min.js"></script>
    <script src="../static/js/vendor/common-local-storage.js"></script>
    <script src="../static/js/vendor/angular-local-storage.js"></script>
    <script src="../static/js/vendor/xeditable.min.js"></script>
    <script src="../static/js/todo.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
    <section class="container">
        <section class="row">
            <section class="col-md-12 text-center" ng-controller="TodoController">
                <header class="app-header">
                    <h1 class="app-title">{{ appTitle }}</h1>
                </header>
                <form ng-submit="addTodo()" class="form form-inline add-form">
                    <input type="text" ng-model="todoName" class="form-control" size="30" placeholder="Task #{{todos.length + 1}}" required>
                    <input type="text" ng-model="todoDescription" class="form-control" size="30" placeholder="Task description" required>
                    <input class="btn btn-primary" type="submit" value="add">
                </form>
                <section class="row">
                    <section class="col-md-2 col-md-offset-2 col-sm-3 col-xs-6">
                        <span>{{remaining()}} of {{todos.length}} left</span>
                    </section>
                    <section class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#" ng-click="archive()">Remove Completed Items</a>
                    </section>
                    <section class="col-md-1 col-sm-3 col-xs-6 text-right">
                        Show
                    </section>
                    <section class="col-md-2 col-sm-2 col-xs-6">
                        <select ng-model="done" class="form-control">
                            <option value="" selected>All</option>
                            <option value="false">Current</option>
                            <option value="true">Completed</option>
                        </select>
                    </section>
                </section>
                <ul class="list-inline todo-list row">
                    <li ng-repeat="todo in todos | filter: done" class="col-md-3 col-sm-4 col-xs-6">
                        <div class="done-{{ todo.done }}">
                            <input type="checkbox" ng-model="todo.done" class="todoStatus">
                            <div ng-controller="Ctrl">
                                <a href="#" editable-text="todo.name" class="todoTitle">{{ todo.name }}</a>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                            <div ng-controller="Ctrl">
                                <a href="#" editable-text="todo.description" class="todoDescription">{{ todo.description }}</a>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                            <div class="datetime">
                                {{todo.date | date:'yyyy-MM-dd HH:mm:ss'}}
                            </div>
                            <a href="#" ng-click="removeTodo(todo)" class="removeTodo">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</body>
</html>