<!doctype html>
<html ng-app="todoApp">
<head>
    <script src="../static/js/vendor/angular.min.js" type="text/javascript"></script>
    <script src="../static/js/vendor/common-local-storage.js"></script>
    <script src="../static/js/vendor/angular-local-storage.js"></script>
    <script src="../static/js/vendor/xeditable.min.js"></script>
    <script src="../static/js/todo.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
    <section ng-controller="TodoController">
        <header class="app-header">
            <h1 class="app-title">{{ appTitle }}</h1>
        </header>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoName"  size="30" placeholder="Task #{{todos.length + 1}}" required>
            <input type="text" ng-model="todoDescription"  size="30" placeholder="Task description" required>
            <input class="btn-primary" type="submit" value="add">
        </form>
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        <p><a href="#" ng-click="archive()">Remove Completed Items</a></p>
        <ul>
            <li ng-repeat="todo in todos track by $index">
                <input type="checkbox" ng-model="todo.done">
                <div ng-controller="Ctrl">
                    <a href="#" editable-text="todo.name" class="done-{{ todo.done }}">{{ todo.name }}</a>
                </div>
                <div ng-controller="Ctrl">
                    <a href="#" editable-text="todo.description" class="done-{{ todo.done }}">{{ todo.description }}</a>
                </div>
                <a href="#" ng-click="removeTodo(todo)">X</a>
            </li>
        </ul>
    </section>
</body>
</html>