ul.todo-list {
  li {
    > div {
      padding: 25px 15px;
      margin: 20px auto;
      height: 200px;
      width: 200px;
      position: relative;
      @include linear-gradient(to top, #FDEC70, #fcf59b, $fallback:#fcf76c);
      border: 1px solid #DADADA;
      &:before, &:after {
        content: '';
        display: block;
        width: 90%;
        height: 20%;
        position: absolute;
        background-color: rgba(0, 0, 0, .9);
        @include prefixer(box-shadow, 0 0 10px #000, moz webkit o ms spec);
        opacity: 1;
        z-index: -1;
      }
      &:before {
        left: 10px;
        bottom: 3px;
        @include transform(rotate(-3deg));
      }
      &:after {
        right: 10px;
        bottom: 3px;
        @include transform(rotate(3deg));
      }
      &.done-true {
        @include linear-gradient(to top, #f4f4f4, #fcfcfc, $fallback:#f4f4f4);
        div, a {
          text-decoration: line-through;
          color: grey;
        }
      }
      .editable-click, a.editable-click {
        border: none;
      }
      &:hover {
        .todoTitle, .todoDescription {
          ~ .glyphicon {
            display: inline;
          }
        }
        .editable-wrap {
          ~ .glyphicon {
            display: none;
          }
        }
        .editable-click, a.editable-click {
          border-bottom: 1px dashed #666;
        }
      }
    }
  }
  .removeTodo {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
  }
  .todoStatus {
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .datetime {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #999;
    font-size: 12px;
  }
  .todoTitle {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .todoDescription {
    color: #666;
  }
  .todoTitle, .todoDescription {
    ~ .glyphicon {
      display: none;
    }
  }
}
.add-form {
  margin-bottom: 30px;
}